// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
  padding-top:    2rem;
  padding-bottom: 1rem;
  margin-bottom: 8rem;
  position: relative;
}
.masthead-title {
  margin-top: 0;
  margin-bottom: 0;
  color: $gray-5;
  width: 50%;
  float: left;
  font-weight: 400;

    a {
      color: inherit;
      &:hover {
        text-decoration: none;
      }
    }

    img {
      display: inline-block;
      float: left;
      margin-right: .5em;
      margin-top: -.4em;
      width: 50px;
      height: 50px;
    }

    small {
      font-size: 75%;
      font-weight: 400;
      opacity: .5;
    }
}

ul.nav {
  list-style: none;
  width: 50%;
  float: right;
  text-align: right;

    li {
      margin-right: 20px;
      float: right;

      &:first-child {
        position: relative;
        width: 16px;
        height: 16px;
        margin-right: 0;
      }

      a {
        color: inherit;
        opacity: .5;
        font-size: 75%;
        font-weight: 400;
        display: block;

        &.feed-icon {
          background: transparent url('/public/rss.svg') center left no-repeat;
          font-size: 0;
          position: absolute;
          top: 3px;
          padding: 7px;
        }
      }
    }
 }
