<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div class="container content">
      {% include header.html %}
      <main>
        {{ content }}
      </main>
      {% include comments.html %}
      {% include footer.html %}
    </div>
    <!-- analytics  -->
      {% include analytics.html %}
      <!-- jQuery -->
      {% include jquery.html %}
    <script src="{{ site.baseurl }}/public/js/menu.js"></script>
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=es6,Array.prototype.includes,CustomEvent,Object.entries,Object.values,URL"></script>
    <script src="https://unpkg.com/plyr@3"></script>

    <script>
      const player = new Plyr('#player', {});
      window.player = player;
    </script>
    </body>
</html>
